<div class="content bg-orange-50" >
    <h2>Bài viết</h2>
    <div class="flex">

  <div class="block">
    <h1 class="ml-[100px] mt-[60px]">Chung tay </h1>
    <h1 class="ml-[100px]">bảo vệ loài gấu</h1>
    <p class="w-[300px] ml-[100px] mt-[20px] text-gray-400">Mỗi phiên bản giới hạn bán ra chúng tôi sẽ ủng hộ 10.000d vào qũy tôt chức Động Vật Châu Á tại Việt  Nma nhằm góp phần cải thiện đời sống và phúc lợi cho những cá thể gấu đang được  nuôi dưỡng tại trung tâm cứu hộ gấu Việt Nam</p>
    <div class="ml-[440px]">
        <img class="w-[1000px] mt-[-400px]" src="assets/img/gau.webp" alt="">
    </div>
</div>
 </div><!--   -->
</div>
