
<div class="wapper">


<div class="header">
  <p class="bg-black text-white text-center h-[50px] pt-[15px]">Tận hưởng giao hàng toàn quốc cho những đơn hàng từ 99.000vnd +</p>
</div>
<div class="menu flex items-center">
 
  <nav class=" w-full">
    <ul class="flex space-x-4 bg-orange-50 pl-[50px]">
      <li class="mt-[40px] pr-[30px]"><a href="" class="">Trang chủ</a></li>
      <li class="mt-[40px] pr-[30px]"><a href="">Danh mục</a></li>
      <li class="mt-[40px] pr-[300px]"><a href="">Sản phẩm</a></li>
      <li class="mt-[40px] pr-[300px]"><img class="w-[100px] pb-[30px]" src="assets/img/logo.webp" alt="" /></li>
      <li class="mt-[40px] pr-[30px]"><a href="">Đăng ký</a></li>
      <li class="mt-[40px] pr-[30px]"><a href="">Đăng nhập</a></li>
      <li class="mt-[40px] pr-[30px]"><a href="">Liên hệ</a></li>
    </ul>
  </nav>
</div>
<div class="container">
  <div class="mt-[50px]"> 
    <app-banner></app-banner>

  </div>
 
</div>


</div >